---
import DefaultLayout from "~/layouts/DefaultLayout.astro";
import Card from "~/components/Card.astro"; import {getCollection} from "astro:content";

const articles = await getCollection("articles");
const cards = articles
    .filter(article => article.data.category == "portfolio")
    .map(({slug, data}) => ({
        ...data,
        formattedDate: new Intl.DateTimeFormat().format(new Date(data.date)),
        slug,
        full_slug: "articles/" + slug,
    }))
---

<DefaultLayout title="Portfolio">
    <div class="prose">
        <h1 class="mb-0">Portfolio</h1>
        <p>Welcome to my portfolio. I use my blog to feature my work here, so for convenience I have collected all the portfolio-related posts here all on one page. Please feel free just to browse, or to read more in-depth about my works.</p>
    </div>
    <picture>
        <source media="(prefers-color-scheme: dark)" srcset="/fish-light.png">
        <img src="/fish-dark.png" alt="" width="42" class="mx-auto my--1">
    </picture>
    {
        cards.length == 0 ?
            (<span class="font-jost text-2xl text-center my-5 block">Nothing here yet!</span>)
        : <ol class="grid gap--1 md:grid-cols-2 lg:grid-cols-3">
            {cards.map(({title, thumbnail, abstract, slug, full_slug}) =>
            <li>
                <Card leftView>
                    {thumbnail &&
                        <img
                            class="aspect-16/9 object-cover mb--1 rounded-3px"
                            src={thumbnail}
                            alt={title}
                        >
                    }
                    <h1 class="h4 my-0">{title}</h1>
                    <p class="mb--1">{abstract}</p>
                    <a slot="footer" href={full_slug} class="button ml-auto">Read <span class="i-feather-arrow-right inline-block align-middle"></span></a>
                </Card>
            </li>)}
        </ol>
    }
</DefaultLayout>
