---
export interface Props {
	title?: string;
	description?: string;
}

import "@fontsource/jost/variable.css";
import "@fontsource/jost/variable-italic.css";
import "@fontsource/lato";
import "@fontsource/zen-kaku-gothic-new";
// import "~/icons.css";

const {
	title = "George Newton",
	description = "I am George Newton, a full-stack developer and University of York student and this is my personal website and portfolio."
} = Astro.props as Props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialCardURL = new URL("/social-card.png", Astro.url)
---

<!DOCTYPE html>
<html lang="en-GB" class="text-18px">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="canonical" href={canonicalURL} />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://eyrewiut-portfolio.netlify.app/">
		<meta property="og:title" content="Home | George Newton">
		<meta property="og:description" content="I am George Newton, a full-stack developer and University of York student and this is my personal website and portfolio.">
		<meta property="og:image" content={socialCardURL}>

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content={Astro.site.href}>
		<meta property="twitter:title" content="Home | George Newton">
		<meta property="twitter:description" content="I am George Newton, a full-stack developer and University of York student and this is my personal website and portfolio.">
		<meta property="twitter:image" content={socialCardURL}>

		<meta name="generator" content={Astro.generator} />
		<title>{title} | George Newton</title>
		<meta name="description" content={description}>
		<slot name="head"/>
	</head>
	<body class="font-zen dark:text-white">
		<slot />
		<slot name="foot"/>
	</body>
</html>

<style>
html {
	background: url(/background-tile-light.png) #F5F2ED;
}

@media (prefers-color-scheme: dark) {
	html {
		background: url(/background-tile-dark.png) #272B29;
	}
}
</style>
